<footer class="footer">
  <div class="container">
    <hr/>
    <div class="row">
      <div class="col-sm-6">
        <h5>CONTACT INFORMATION</h5>
        <div class="footer-row">
          <small><b>Intesol Brighton</b></small>
        </div>
        <div class="footer-row">
          <a href="mailto:email@email.com">email@email.com</a>
        </div>
        <div class="footer-row">
          <a href="tel:01273-123456">01273 123456</a>
        </div>
        <br>
        <div class="footer-row">
          <small>&copy; {{ year }} - Intesol Brighton. All rights reserved. </small>
        </div>
      </div>
      <div class="col-sm-3">
        <h5>SOCIAL</h5>
        <div class="footer-row">
          <a href="mailto:email@email.com">
            <i class="fas fa-envelope"></i>&nbsp;EMAIL</a>
        </div>
        <div class="footer-row">
          <a href="https://www.facebook.com/" target="_blank">
            <i class="fab fa-facebook"></i>&nbsp;FACEBOOK</a>
        </div>
        <div class="footer-row">
          <a href="https://twitter.com/" target="_blank">
            <i class="fab fa-twitter"></i>&nbsp;TWITTER</a>
        </div>
        <div class="footer-row">
          <a href="https://www.instagram.com/" target="_blank">
            <i class="fab fa-instagram"></i>&nbsp;INSTAGRAM</a>
        </div>
      </div>
      <div class="col-sm-3">
        <h5>SITE MAP</h5>
        <div class="footer-row">
          <a routerLink="/about">About</a>
        </div>
        <div class="footer-row">
          <a routerLink="/courses">Courses</a>
        </div>
        <div class="footer-row">
          <a routerLink="/jobs">Jobs</a>
        </div>
        <div class="footer-row">
          <a routerLink="/Blog">Blog</a>
        </div>
        <div class="footer-row">
          <a routerLink="/faqs">FAQ's</a>
        </div>
        <div class="footer-row">
            <a routerLink="/contact">Contact</a>
          </div>
      </div>
    </div>
  </div>
  <br>
</footer>